@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

ul{
	padding:0
}

ul li{
	list-style: none;
}
img{
	max-width: 100%;height:auto;outline: none;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none !important;
}
body{
	margin: 0px !important;
	font-family: 'robotoregular' !important;
}
:focus{
	outline: none !important;
}

.text-12{
	font-size:12px;
}
.text-13{
	font-size:13px;
}
.text-14{
	font-size:14px;
}
.text-15{
	font-size:15px;
}
.text-16{
	font-size:16px;
}
.text-17{
	font-size:17px;
}
.text-18{
	font-size:18px;
}
.text-20{
	font-size:20px;
}
.cursor{
	cursor:pointer;
}
.text-black{
	color: #131313;
}
.text-color{
	color:#30B6C4;
}
.icon-text{
	color: #7E7E7E;
}
.sign-bg{
	background-color: #00A5B6 !important;
}
.bg-sticky {
    position: fixed;
    top:-100px;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #083F4E !important;
    z-index: 9999;
    transition: top 0.3s;
    box-shadow: 3px 4px 9px rgb(0 0 0 / 7%);
}
.percent-text{
	color:#093F4E;
}
.w-20{
	width:20%;
}
.w-45{
	width:45%;
}
.w-35{
	width:35%;
}
.w-30{
	width:30%;
}
.w-85{
	width:85%;
}
.border-bottom{
	border-bottom: 1px solid #D4D4D4 !important;
}
.btn-box{
	background-color: #093F4E;
}
.box-radius{
	border-radius:5px;
}


/*End Utilities*/